<%= form_for @source, layout: :basic do |f| %>
  <%= f.select :language , Source.supported_languages %>
  <%= f.text_field :context %>
  <%= f.text_area :text %>

  <h3>Translations <!--small>(<%= @source.translations.size %>)</small--></h3>
  <div class="pull-left">
    <%= link_to 'Add New Translation', '#', class: 'add-translation btn btn-success btn-sm' %>
  </div>
  <table id='translationFields' class='table'>
    <thead>
      <tr>
	<th>Language</th>
	<th colspan="2">Text</th>
      </tr>
    </thead>

    <tbody>
      <%= f.fields_for :translations, layout: :inline, fieldset: false, errors: { messages: true } do |translation| %>
        <tr id="<%= dom_id(translation.object) %>" class="translation">
	  <td>
	    <%= translation.select :language, Source.supported_languages %>
	    <%= translation.object.errors.to_a.to_sentence %>
	  </td>
	  <td>
	    <%= translation.text_area :text, class: 'tinymce' %>
	  </td>
	  <td align="right">
	    <% if translation.object.new_record? %>
	      <%= link_to 'Delete', '#', :class => 'remove btn btn-xs btn-danger' %>
	    <% else %>
	      <%= link_to 'Delete', translation.object, :remote => true, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %>
	    <% end %>
	  </td>
	</tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-left">
    <%= link_to 'Add New Translation', '#', class: 'add-translation btn btn-success btn-sm' %>
  </div>
  <div class="pull-right">
    <% if @source.id %>
      <%= link_to 'Cancel', source_path(@source), class: 'btn btn-danger', data: { confirm: 'Are you sure you want to discard your changes?' } %>
    <% end %>
    <%= f.submit %>
  </div>
  <%= javascript_tag :id => 'translation-row', :type => 'text/x-html' do %>
    <%= f.fields_for :translations, Translation.new, layout: :inline, fieldset: false, include_id: false  do |translation| %>
      <tr class="translation">
	<td>
	  <%= translation.select :language, Source.supported_languages %>
	</td>
	<td>
	  <%= translation.text_area :text %>
	</td>
	<td align='right'>
	  <%= link_to 'Delete', '#', :class => 'remove btn btn-xs btn-danger' %>
	</td>
      </tr>
    <% end %>
  <% end %>
<% end %>
