<h1> New Translation </h1>
<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source translation from being saved:</h2>
      <ul>
      <% @source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :language %><br>
    <%= f.select :language , Source.supported_languages ,{} ,{ :class=> "form-control" }%>
 </div>

 <div class="field">
    <%= f.label :context %><br>
    <%= f.text_field :context %>
 </div>


 <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text , required: true, :class => "form-control", rows: 3 %>
 </div>


 <h2>Translations</h2>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>&nbsp</th>
      <th>Language</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
 <%= f.fields_for :translations do |translation| %>
    <tr>
      <td>
         +
       </td>
      <td>
        <%= translation.select :language , Source.supported_languages,{} ,{ :class =>"form-control" } %>
      </td>

      <td>
        <%= translation.text_area :text , required: true , :class => "form-control", rows: 3%>
       </td>
    </tr>
 <% end %>
  </tbody>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
