<p>
  <strong>Language:</strong>
  <%= @source.language %>
</p>

<p>
  <strong>Text:</strong>
  <%= @source.text.html_safe %>
</p>

<% if @source.context.present? %>
    <p>
	<strong>Context:</strong>
	<%= @source.context %>
    </p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Language</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @source.translations.each do |translation| %>
      <tr>
        <td><%= translation.language %></td>
        <td><%= translation.text.html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
